<div class="container">
    <h3 id="titleProfile"></h3>

    <div id="myprofile"></div>
</div>

<!--    modalUpdateMdp-->
<div id="modalUpdateMdp" class="modal">
    <div class="modal-content">
        <h4>Modification de votre mot de passe</h4>
        <label for="prevPassword">Entrez votre précedent mot de passe</label>
        <input id="prevPassword" placeholder="Entrez votre précedent mot de passe" type="password" class="validate">
        <label for="newPassword">Entrez votre nouveau mot de passe</label>
        <input id="newPassword" placeholder="Entrez votre nouveau mot de passe" type="password" class="validate">
        <label for="confirmNewPassword">Confirmez votre nouveau mot de passe</label>
        <input id="confirmNewPassword" placeholder="Confirmez votre nouveau mot de passe" type="password" class="validate">
    </div>
    <div class="modal-footer">
        <button class="btn modal-close waves-effect waves-green " style="background-color: darkred">ANNULER</button>
        <button class="waves-effect waves-green btn-flat" onclick="myprofileController.updatePassword()" id="btnForgotMdp">Modifier votre mot de passe</button>
    </div>
</div>