<div class="container">
    <h3>Listes partagé avec moi</h3>

    <div id="allShopListPartaged"></div>
</div>
<!-- Modal Vue -->
<div id="modalVuePartaged" class="modal">
    <div class="modal-content">
        <h4 id="titlePartaged">Visualisation de la liste partagé</h4>
        <table id="partagedItems">

        </table>
    </div>
    <div class="modal-footer">
        <button class="btn modal-close waves-effect waves-green " style="background-color: darkred">FERMER</button>
    </div>
</div>